# SQLite database files
.db
.db-journal
.db-shm
.db-wal
app.db*
/mnt
+/data
# Go specific
.exe
.exe~
.dll
.so
.dylib
.test
# IDE specific
idea/
vscode/
.swp
.swo
# OS specific
DS_Store
humbs.db
# Environment variables

env.local
.env
# Vercel
.vercel
.env*.local
# Binary folder
bin/
tmp/